In [1]:
print('Corona Screening Test')

Corona Screening Test

In [2]:
print('Hello World')

Hello World

In [3]:
import pandas as pd

In [4]:
# Read Data

In [5]:
df = pd.read_csv('data.csv')

In [6]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.090554         0   10          0           0              1
1   99.543885         0   58          1           0              0
2   99.831415         0    8          0           0              1
3  100.090138         0   89          0           1              0
4  101.119591         1   33          0           0              1

In [7]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
3011   99.577139         1   64          1          -1              0
3012  101.513452         0   85          0          -1              0
3013   99.197957         0   23          1          -1              1
3014  100.483381         1   51          0          -1              1
3015   98.906125         1   79          0          -1              0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3016 entries, 0 to 3015
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          3016 non-null   float64
 1   bodyPain       3016 non-null   int64
 2   age            3016 non-null   int64
 3   runnyNose      3016 non-null   int64
 4   diffBreath     3016 non-null   int64
 5   infectionProb  3016 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 141.5 KB

In [9]:
df['diffBreath'].value_counts()

 0    1032
-1    1011
 1     973
Name: diffBreath, dtype: int64

In [10]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,3016.000000,3016.000000,3016.000000,3016.000000,3016.000000,3016.000000
mean,100.002842,0.504973,50.609085,0.497016,-0.012599,0.499668
std,1.142058,0.500058,28.824833,0.500074,0.811101,0.500083
min,98.002796,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,99.024492,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.009168,1.000000,51.000000,0.000000,0.000000,0.000000
75%,100.992547,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.997953,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [11]:
import numpy as np

In [12]:
def data_split(data, ratio):
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [13]:
np.random.permutation(7)

array([0, 3, 6, 1, 4, 5, 2])

In [14]:
train, test = data_split(df, 0.2)

In [15]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1934  101.148746         1   10          1           0              0
2270   98.989590         0   36          1           0              1
1434   99.711190         1   59          1          -1              0
3001   98.220675         0   98          1           1              1
3007  101.081479         0   21          0           1              0
...          ...       ...  ...        ...         ...            ...
376   100.634724         0   80          1           1              1
2986   98.774640         1   72          0           1              1
1572   98.131083         0   54          0           0              0
166   100.119621         1  100          1          -1              0
543    99.566102         1    2          0           1              0

[2413 rows x 6 columns]

In [16]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
794    98.514858         1   10          1           0              0
1106  100.439712         1   12          1          -1              0
1735   99.610398         0   24          1           0              0
2200   99.197708         0   52          1          -1              1
2262  100.787473         0   12          1           0              1
...          ...       ...  ...        ...         ...            ...
2340   99.266315         1   99          0           0              1
510    98.968161         1   11          0          -1              0
544    98.536917         1   51          0           1              1
1379  101.194288         0   23          0           0              0
2363   99.648670         1   90          0           1              1

[603 rows x 6 columns]

In [17]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [18]:
Y_train = train[['infectionProb']].to_numpy().reshape(2413,)
Y_test = test[['infectionProb']].to_numpy().reshape(603,) #according to sklearn reshape(size of data,)

In [19]:
Y_train

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

# Using Logistics Regression

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
clf.predict([[100,1,21,1,1]]) # provides us with 0 or 1 (whether we have infec or not)

array([0], dtype=int64)

In [23]:
inputFeatures = [[100,1,21,1,1]]
infProb = clf.predict_proba(inputFeatures)[0][1]

In [24]:
infProb

0.4499371062060509